[submodule "humor/seq2seq_sub"]
	path = humor/seq2seq_sub
	url = https://github.com/AnonymousRandomPerson/seq2seq
[submodule "humor/subword-nmt"]
	path = humor/subword_nmt
	url = https://github.com/AnonymousRandomPerson/subword-nmt
